:root{
  --color-primary: rgb(210 65 21);
  --color-secondary: #ea580c;
  --color-accent: rgb(254 215 170);
  --text-1: #1e293b;
  --text-2: #475569;
  --text-3: rgb(71 85 105);
  --text-4: #cbd5e4;
  --color-bg-2: rgb(30 41 59);
  --color-bg-3: #94a3b8;
  --color-bg-4: rgb(15 23 42);
  --card-hover-bg: rgb(241 245 249);
  --border-bottom-color: #e5e7eb;
  --faq-border-color: rgb(202 213 225);
}

